
body {
  background-color: #f7f2ff;
  font-family: Arial, sans-serif;
}


.note {
  color: #4a2c7a;
}


#mainPhoto {
  border: 3px solid #333;
  padding: 6px;
}


h1, h2 {
  text-decoration: underline;
}


#intro {
  color: #222;
  font-style: italic;
}


#priceBox {
  border: 2px dashed #4a2c7a;
  padding: 10px;
  border-radius: 10px;
}
#mainPhoto:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
